@use 'sass:map';
@use 'vuetify/settings' with ( 
  $body-font-family: ('Mulish', sans-serif),
  // $app-bar-background: rgb(var(--color-dark)),
  $grid-breakpoints: (
    xs: 0,
    sm: 640px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    xxl: 1536px,
  ),
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px,
  ),
  // $utilities: (
  //   "align-content": false,
  //   "align-items": false,
  //   "align-self": false,
  //   "border-bottom": true,
  //   "border-end": true,
  //   "border-opacity": true,
  //   "border-start": true,
  //   "border-style": true,
  //   "border-top": true,
  //   "border": true,
  //   "display": false,
  //   "flex-direction": false,
  //   "flex-grow": false,
  //   "flex-shrink": false,
  //   "flex-wrap": false,
  //   "flex": false,
  //   "float-ltr": false,
  //   "float-rtl": false,
  //   "float": false,
  //   "font-italic": false,
  //   "font-weight": false,
  //   "justify-content": false,
  //   "margin-bottom": false,
  //   "margin-end": false,
  //   "margin-left": false,
  //   "margin-right": false,
  //   "margin-start": false,
  //   "margin-top": false,
  //   "margin-x": false,
  //   "margin-y": false,
  //   "margin": false,
  //   "negative-margin-bottom": false,
  //   "negative-margin-end": false,
  //   "negative-margin-left": false,
  //   "negative-margin-right": false,
  //   "negative-margin-start": false,
  //   "negative-margin-top": false,
  //   "negative-margin-x": false,
  //   "negative-margin-y": false,
  //   "negative-margin": false,
  //   "order": false,
  //   "overflow-wrap": false,
  //   "overflow-x": false,
  //   "overflow-y": false,
  //   "overflow": false,
  //   "padding-bottom": false,
  //   "padding-end": false,
  //   "padding-left": false,
  //   "padding-right": false,
  //   "padding-start": false,
  //   "padding-top": false,
  //   "padding-x": false,
  //   "padding-y": false,
  //   "padding": false,
  //   "rounded-bottom-end": true,
  //   "rounded-bottom-start": true,
  //   "rounded-bottom": true,
  //   "rounded-end": true,
  //   "rounded-start": true,
  //   "rounded-top-end": true,
  //   "rounded-top-start": true,
  //   "rounded-top": true,
  //   "rounded": true,
  //   "text-align": false,
  //   "text-decoration": false,
  //   "text-mono": false,
  //   "text-opacity": false,
  //   "text-overflow": false,
  //   "text-transform": false,
  //   "typography": true,
  //   "white-space": false,
  // ),
);


#nprogress {
  @apply pointer-events-none;
  .bar {
    @apply z-1006 h-1 fixed inset-x-0 top-0 ;
    background: rgb(var(--v-theme-primary));
  }
}